<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyALn2RUrYjQs1rINoJKAKN5F0RIHLEhmCU</string>
	<key>GCM_SENDER_ID</key>
	<string>856284752906</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mobvers.skillOnBase.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>skill-on-base</string>
	<key>STORAGE_BUCKET</key>
	<string>skill-on-base.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:856284752906:ios:63410511cd09ade10543f3</string>
</dict>
</plist>